@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   
    <div class="nav">
        <img class="" src="../Images/womanSmiling.jpg" alt="Image of a woman smilling"/>
    </div>
</div>
